html {
	height: 100%;
	> body > *:last-child {
		margin-bottom: 8px;
	}
}
.strawman {
	height: 100%;
	@include display(flex);
	@include flex-direction(column);
	> main {
		@include flex(1);
	}
	.nav {
		padding: 0 24px;
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
		> input {
			@extend .h2;
			text-align: right;
		}
	}
	.columns {
		@include display(flex);
		padding: 0 4px;
		> section {
			margin: 0 4px;
			border-radius: 2px;
			box-shadow: $ck4 0 0 0 1px;
			@include flex(1);
			@include flex-basis(0);
			> header {
				height: 64px;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
			}
			> footer {
				height: 64px;
				border-bottom-left-radius: 2px;
				border-bottom-right-radius: 2px;
			}
		}
	}
	.chat {
		@include display(flex);
		@include flex-direction(column);
		> header {
			background-color: $ckb;
			position: relative;
			> div {
				height: 100%;
				@include display(flex);
				@include justify-content(space-between);
				@include align-items(center);
				> span {
					@extend .h2;
					margin: 0 16px;
				}
			}
			> progress {
				width: 100%;
				position: absolute;
				bottom: 0;
			}
		}
		> ul {
			padding: 4px 16px;
			margin: 0;
			list-style-type: none;
			@include flex(1);
			> li {
				margin: 8px 0;
				> span {
					@extend .hb;
					&::after {
						content: "\00a0";
					}
				}
			}
		}
		> footer {
			background-color: $ckb;
			position: relative;
			> div {
				height: 100%;
				padding: 0 8px;
				@include display(flex);
				@include justify-content(space-between);
				@include align-items(center);
				> input {
					@extend .d2;
					@include flex(1);
					margin: 0 8px;
				}
				> button {
					margin: 0 8px;
					&:first-child {
						margin-left: 4px;
					}
					&:last-child {
						margin-right: 4px;
					}
				}
			}
			> progress {
				width: 100%;
				position: absolute;
				bottom: 0;
			}
		}
	}
	.submit {
		padding: 0 16px;
		background-color: $ckb;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(flex-start);
		> div {
			max-width: 100%;
			position: relative;
			> input {
				@extend .h0;
				width: 100%;
				box-sizing: border-box;
				border: none;
			}
		}
		> span {
			@extend .d0;
			color: $ck2;
		}
	}
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
	    outline: none;
	}
	input {
		background-color: transparent;
		border-style: none;
		@include placeholder {
			color: $ck3;
			line-height: initial;
		}
	}
	button {
		background: none;
		border: none;
		font-size: 24px;
		line-height: 0;
		color: $ck2;
		padding: 0;
		&:hover {
			color: $ck1;
		}
		&:active {
			font-size: 23px;
			line-height: 23px;
			position: relative;
			margin: .5px;
		}
	}
	@each $prefix in "-webkit-", "-moz-", "-ms-", "-o-" {
		progress::#{unquote($prefix)}progress-inner-element {
			@include appearance(none);
		}                  
	}
	@each $prefix in "-webkit-", "-moz-", "-ms-", "-o-" {
		progress::#{unquote($prefix)}progress-bar {
			@include appearance(none);
			background-color: $ck2;
		}
	}
	@each $prefix in "-webkit-", "-moz-", "-ms-", "-o-" {
		progress::#{unquote($prefix)}progress-value {
			@include appearance(none);
			background-color: $cb;
		}                  
	}
}