html {
	height: 100%;
}
.strawman {
	height: 100%;
	@include display(flex);
	@include flex-direction(column);
	> main {
		@include flex(1);
	}
	.nav {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(center);
		> input {
			@extend .h2;
			text-align: right;
		}
	}
	.columns {
		@include display(flex);
		> section {
			@include flex(1);
			@include flex-basis(0);
		}
	}
	.chat {
		@include display(flex);
		@include flex-direction(column);
		> header {
			background-color: $ckb;
			> div {
				@include display(flex);
				@include justify-content(space-between);
				> span {
					@extend .h2;
				}
			}
			> progress {
				width: 100%;
			}
		}
		> ul {
			@include flex(1);
			padding-left: 0;
			list-style-type: none;
			> li {
				> span {
					@extend .hb;
					&::after {
						content: "\00a0";
					}
				}
			}
		}
		> footer {
			background-color: $ckb;
			> div {
				@include display(flex);
				@include justify-content(space-between);
				@include align-items(center);
				> input {
					@extend .d2;
					@include flex(1);
				}
			}
			> progress {
				width: 100%;
			}
		}
	}
	.submit {
		background-color: $ckb;
		@include display(flex);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(flex-start);
		> div {
			max-width: 100%;
			> input {
				@extend .h0;
				width: 100%;
				border: none;
				padding: 0;
			}
		}
		> span {
			@extend .d0;
			color: $ck2;
		}
	}
	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
	    outline: none;
	}
	input {
		background-color: transparent;
		border-style: none;
		@include placeholder {
			color: $ck3;
			line-height: initial;
		}
	}
}